#wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.image {
    height: 100px;
    padding: 5px;
    border: 2px solid black;
}

.close {
    align-self: start;
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
} 

